<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="dev.amenhancer.module.permission.REQUEST_CURRENT_SONG_ID" />
    <uses-permission android:name="dev.amenhancer.module.permission.REQUEST_LIBRARY_REFRESH" />
    <uses-permission android:name="dev.amenhancer.module.permission.REQUEST_USB_BIT_PERFECT_STATUS" />

    <permission
        android:name="dev.amenhancer.module.permission.REQUEST_CURRENT_SONG_ID"
        android:protectionLevel="signature" />

    <permission
        android:name="dev.amenhancer.module.permission.REQUEST_LIBRARY_REFRESH"
        android:protectionLevel="signature" />

    <permission
        android:name="dev.amenhancer.module.permission.REQUEST_USB_BIT_PERFECT_STATUS"
        android:protectionLevel="signature" />

    <application
        android:name=".ModuleApplication"
        android:allowBackup="false"
        android:description="@string/xposed_description"
        android:icon="@drawable/ic_module"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppleMusicEnhancer">

        <activity
            android:name=".ui.SettingsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.INFO" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".LauncherAlias"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_module"
            android:label="@string/app_name"
            android:targetActivity=".ui.SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

    </application>

</manifest>
